---
import Layout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import ArticleList from '../../components/ArticlesList.astro';

export async function getStaticPaths({ paginate }) {
  const blogs = (await getCollection('blog'))
      .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

  return paginate(blogs, { pageSize: 6 });
}

const { page } = Astro.props;
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
   <h2 class="mb-0 mt-4 px-2 uppercase">
    All Articles 
   </h2>
   <ArticleList posts={page.data} previous={page.url.prev} next={page.url.next}/> 
</Layout>
