---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import Wiki from '../pages/wiki.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Footer from '../components/Footer.astro';

const { title, description, images, slug } = Astro.props;
const photosUrl = `https://photos.craddock.org/index.php?/tags/${slug.replaceAll("-", "_")}`;
const heroImage = (images == '' || images == null) ? null : images[0].derivatives.small.url;
---

<html lang="en">
	<head>
    <BaseHead title={title} description={description} image={heroImage} />
	</head>

  <body>
    <Header />
		<main class="container h-screen mx-auto flex flex-wrap py-1">
      <section class="w-full md:w-3/4 flex flex-col px-3">
        <article class="max-w-screen-xl h-full prose prose-headings:h-8 prose-p:text-lg ">
			  	  <slot />
			    </article>
      </section>
      <aside class="w-full md:w-1/4 flex flex-col items-center px-3">
        <Wiki />
        <SocialMedia />
        { images && images.length > 1 && (
          <PhotoGallery images={images} photosUrl={photosUrl} /> 
        )}
      </aside>
		<Footer />
		</main>
	</body>
</html>
